*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
}

.top-banner{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* height: 80vh; */
    color: white;
    padding: 15% 25%;
    text-align: center;
}
h1{
    font-size: 65px;
    font-weight: 700;
}
p{
    font-size: 18px;
}

.link-button{
    text-decoration: none;
    background: #FF5959;
    padding: 15px 15px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    display: inline-block;
    margin-top: 15px;
}