* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.top-banner {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    height: 95vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 65px;
    font-weight: 700;
}

h2 {
    font-size: 45px;
    font-weight: 700;
}

h4 {
    font-size: 24px;
    font-weight: 600;
}

p {
    font-size: 18px;
}

section {
    margin-bottom: 8%;
}

.top-banner-description {
    width: 60%;
}

.top-banner-description p {
    padding: 15px 125px 50px;
}

.link-button {
    text-decoration: none;
    background: #FF5959;
    padding: 18px 31px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}


.text-align-center {
    text-align: center;
}


.description {
    width: 40%;
    margin: 0 auto;
}

.description h2 {
    margin-bottom: 3%;
}

.description p {
    color: #707070;
    margin-bottom: 7%;
}

.amount-container {
    display: flex;
    justify-content: center;
}

.amount-rectangle {
    width: 135px;
    padding: 42px 0;
    margin: 10px;
    text-align: center;
    background-color: #FAFAFA;
    color: #707070;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 700;
}

.selected {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    color: #FF5959;
}

.other-amount {
    width: 48%;
    margin: 0 auto;
}

.other-amount input {
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: #B3B3B3;
    border: none;
    border-bottom: 1px solid #DADADA;
    padding: 10px 0;
    margin-bottom: 5%;
}

.plan-container {
    display: flex;
    justify-content: center;
}

.plan-card {
    width: 20%;
    margin: 20px;
    padding: 63px 23px;
    border-radius: 5px;
}

.plan-card h4 {
    padding: 5% 0;
}

.plan-card p {
    color: #707070;
}

#food-plan {
    background-color: #4F9DA61A;
}

#shelter-plan {
    background-color: #FF59591A;
}

#education-plan {
    background-color: #FFF4D6;
}

footer {
    background-color: black;
    text-align: center;
    height: 170px;
    padding: 40px 0 20px;
}

footer h3 {
    font-size: 36px;
    color: #FF5959;

}

footer p {
    color: #D9DBE1;
    padding: 10px 0;
    font-size: 14px;
}

.subscribe {
    background-color: red;
    width: 51%;
    padding: 75px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #FFF4D6;
}

.subscribe-form input {
    background-color: #D9D9D9;
    border: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px 0 0 5px;
    height: 48px;
    width: 258px;
    padding-left: 17px;
}

.subscribe-form button {
    height: 48px;
    width: 157px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 0 5px 5px 0;
    margin-left: -5px;
    background-color: #FF5959;
    color: white;
}

.volunteer-container {
    display: flex;
    justify-content: center;
}

.volunteer-card {
    width: 15%;
    margin: 2%;
    text-align: center;
    box-shadow: 10px 10px 40px gray;
    padding: 10px 10px 20px;
    background-color: #1d62691a;
    border-radius: 10px;
}

.volunteer-card img {
    width: 90%;
    height: 75%;
    margin-bottom: 5px;
}

.volunteer-card p {
    padding: 5px;
    color: #b48606;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.footer-container div {
    width: 25%;
}